<section class="bg-primary" id="bio">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Bio</h2>
                <hr class="light">
                <p class="text-faded">Lydia Warren is a classical pianist, harpist, church musician, and private piano instructor. Her deepest musical passions lie in the art of collaboration and she thrives working alongside fellow musicians and artists. Born and raised in Nashville, TN, she spent five years in Lynchburg, VA maintaining an active performance career, performing in frequent chamber recitals and programs with singers and instrumentalists, including her own contemporary piano duo with pianist and composer Ezra LaFleur.
<br><br>
She music directed multiple shows at the Academy Center for the Arts, Sweet Briar College Performing Arts Department, and Masterworx Theatre, as well as playing in numerous pits and holding rehearsal pianist positions.
<br><br>
Past influential teachers include Dr. Tad Hardin, Dr. Kristian Klefstad, Dr. Jerome Reed, and Dr. Elisabeth Pridonoff.
<br><br>
Warren seeks to inspire musicians and fans of music to expand their musical horizons into contemporary classical music; including minimalism, serialism, neoclassical, and electronic music. She is deeply inspired by the works of John Adams, Dmitri Shostakovich, John Cage, Bill Evans, and Caroline Shaw to name a few.
<br><br>
Liberty University, B.S. in Instrumental Music, minor in Vocal Music, 2020
<br>
Tennessee Governor’s School for the Arts, 2013
                </p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Contact</a>
            </div>
        </div>
    </div>
</section>
