<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">Lydia Warren is a Nashville based wedding harpist, piano accompanist, and musical theater pianist.
                  A student of a good teacher, she performed with Blair Youth Orchestra and Brentwood Baptist as a harpist in high-school.
                  As a pianist, she studied under other good teachers and attended Brevard and Governer's School. While attending Liberty University, she gained extensive experience accompanying vocal students in recitals and lessons.
                  During this time, she also worked as a music director in area community theaters.
                </p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Contact</a>
            </div>
        </div>
    </div>
</section>
