<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact</h2>
                <hr class="primary">
                <p>Contact Lydia for booking as a wedding harpist, piano accompanist, music director, or to inquire about any other performance opportunity.</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://instagram.com/mixolydia13">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p class="text-center">Instagram</p>
                </a>
            </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p class="text-center">Email</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.linkedin.com/in/lydia-warren-47960000/">
            <i class="fa fa-linkedin-square fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p class="text-center">LinkedIn</p>
            </a>
        </div>

    </div>
</section>
